:root {
  --praimary: #273c75;
  --body: #718093;
  --button: #fbc531;
  --txtclr: #fff;
  --h1bg: #487eb0;
  --h1: #000;
  --cntntbg: #4cd137;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Noto Serif Bengali', serif;
  /*overflow: hidden;*/
  /*overflow-y: auto;*/
}

.logobg {
  width: 100%;
  height: 60px;
  background: rgb(184, 0, 0);
  position: relative;
}
.logobg img {
  position: absolute;
  left: 165px;
  top: 20px;
  border-bottom: 4px solid transparent;
  transform: translateY(-4px);
  transition: all .3s ease-in-out;
}
.logobg img:hover {
  border-color: #fff;
}

.nav {
  display: flex;
  width: 100%;
  height: 45px;
  background: #fff;

}
.nav a {
  text-decoration: none;
  padding-left: 15px;
  color: #000;
  font-size: 19px;
  left: 150px;
  position: relative;
  /*font-weight: bold;*/
}
.nav ul {
  display: flex;
  list-style: none;
  /*left: 150px;*/
  position: relative;
  align-items: center;
}
.nav ul li {
  flex-direction: row;

}
.faw {
  width: 120px;
  height: 5px;
  background: #fff;
  position: absolute;
  left: 165px;
  bottom: 0;
  display: none;
}
.nav a::after{
  content:"";
  position:absolute;
  left:0;
  bottom:-10px;          /* bar নিচে যাবে */
  width:100%;
  height:7px;
  background:#b80000;    /* BBC red */
  transform: scaleX(0);
  transform-origin:left;
  transition: transform .2s ease;
}
.nav a:hover::after{
  transform: scaleX(1);
}
.ad {
  width: 100%;
  height: 340px;
  background: #ddd;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 50px;
}
.add2 img {
  margin-top: 30px;
}
.add2 h4 a{
  color: #686868;
  font-size: 15px;
  top: 32px;
  right: 200px;
  position: absolute;
  text-decoration: none;
}
.add2 h4:hover a {
  text-decoration: underline;
}
.tarek {
  display: block;
  margin-right: 10px;
  width: 500px;


}
.tarek img{
  width: 500px;
  left: 150px;
  position: relative;
}

.tarek h1 {
  /*display: inline-block;*/

}
.tarek h1 a{
  position: relative;
  left: 150px;
  font-size: 30px;
  color: rgb(84, 86, 88);
  margin-bottom: 30px;
}
.tarek a {
  /*text-decoration: none;*/
  text-decoration: none;
}
.tarek h5 a{
  left: 150;
  position: relative;
}
.tarek h5 a {
  position: relative;
  left: 150px;
  display: inline-block;
  color: #000;
}
.tarek h5 {
  font-size: 16px;
  line-height: 27px;
}
aside {
  /*border: 1px solid #000;*/
  position: relative;
  /*right: 0;*/
  /*display: flex;*/
  /*right: 0px;*/
  display: grid;
  justify-content: right;
  grid-template-columns: 50% 50%;
  /*margin-bottom: 20px;*/
  line-height: 35px;

}
.side {
  /*display: flex;*/
}
.side img {
  position: relative;
  width: 250px;
  /*display: inline-block;*/
  /*right: 0;*/
  /*left: 10px;*/
  margin-right: 15px;
}

.sidevanga{
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 25px;
  max-width: 1200px;
  /*margin: 0 auto;*/
}
/*article {
  display: flex;
  flex-direction: column;
  justify-content: center;
}*/
